h1 {
    text-align: center;
    margin: 7% 20% 3% 20%;
    background-color: #80ffff;
    border-radius: 50px;
}

.bodyBorder {
    margin: 0% 10%;
}

.input {
    margin: 3% 2% 0% 0%;
    padding: 10px 25px;
    border-radius: 50px;
    background-color: #33ffcc;
}

.button {
    background-color: #00cccc;
    padding: 10px 25px;
    border-radius: 50px;
}

.button:hover {
    cursor: pointer;
}

.line {
    margin: 1% 65.5% 0% 0%;
}

.list {
    font-size: 30px;
    font-style: italic;
}

body {
    background-image: url(list.jpg);
    background-size: cover;
}

.area {
    border: 2px #00cccc solid;
    margin: 0% 15%;
}

.delete {
    background-color: #ff4d4d;
    float: right;
    margin-right: 2%;
    padding: 5px 10px;
    border-radius: 50px; 
}

.delete:hover {
    cursor: pointer;
}

.under {
    border: 1px #33ff66 solid;
    margin-right: 3%;
}

.delB {
    float: right;
    margin-top: 3%;
    background-color: #ff4d4d;
    padding: 9px 13px;
    border-radius: 50px;
}

.delB:hover {
    cursor: pointer;
}

.adjust {
    margin: 0% 15%;
}